EXPO_PUBLIC_SUPABASE_URL=<SUBSTITUTE_SUPABASE_URL>
EXPO_PUBLIC_SUPABASE_PUBLISHABLE_KEY=<SUBSTITUTE_SUPABASE_PUBLISHABLE_KEY>
EXPO_PUBLIC_SUPABASE_STORAGE_URL=https://<SUBSTITUTE_SUPABASE_STORAGE_URL>.supabase.co/storage/v1/object/public
EXPO_PUBLIC_WEB_URL=https://<SUBSTITUTE_WEB_URL>.com